#################
## FAUST
#################

*.svg
*.cpp
*.tmp.cpp
*.tmp.dsp
*.-svg
*.*~
/*.lv2
/*.lv2.*
/followers/CZringmodFollower
/followers/FMvocoderFollower
/followers/classicVocoderFollower
/followers/czVocoderFollower
/lib/FullGUI.lib.bak
/standalones/CZringmod
/standalones/FMsinger
/standalones/FMvocoder
/standalones/KarplusStrongSinger
/standalones/KarplusStrongSingerMaxi
/standalones/PAFvocoder
/standalones/classicVocoder
/standalones/czVocoder
/standalones/stringSinger
followers/*.lv2
/followers/FOFvocoderFollower
/followers/KarplusStrongSingerFollower
/followers/KarplusStrongSingerMaxiFollower
/followers/PAFvocoderFollower
/followers/stringSingerFollower
/followers/subSingerFollower
/standalones/FOFvocoder
/standalones/subSinger
/followers/FMsingerFollower
/standalones/softSyncVocoder
/standalones/stringSinger.lv2/
/faust.*/
*/faust-graphs.html
*/.*-wrapped
