#################
## FAUST
#################

*.svg
*.cpp
*.tmp.cpp
*.tmp.dsp
*.temp-svg
*.0.temp-svg
*.1.temp-svg
*.2.temp-svg
*.*~
VocSynth
VocSynthFull
classicVocoder
stringSinger
PAFvocoder
# FOFvocoder
FMsinger
subSinger
CZringmod
Karplus-StrongSinger
Karplus-StrongSingerMaxi
/lib/Foflet
/FOFvocoderNoLim
/FOFvocoder
/lib/FMvox
/FMvocoder
/FOFvocoderNEW_FOF
/FOFvocoderNewFOFgood
/FOFvocoderNewFOFgood24band
/FOFvocoderNewFOFgoodNoNoiseOct
/FOFvocoderNewPhase
/czVocoder
/lib/myFMvox
/lib/jcmlb
/test
/tst
/lib/cruft/FMvox
/master
/FMvocoderSlave
/FOFvocoderSlave
/PAFvocoderSlave
/test.dsp
/test.lv2
/FMvocoderSlave.lv2
/classicVocoderSlave
/czVocoderSlave
/CZringmodSlave
/Karplus-StrongSingerSlave
/stringSingerSlave
/subSingerSlave
/Karplus-StrongSingerMaxiSlave
/syncSaw
